@model IEnumerable<pactica123.Models.Tabla_Resguardos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_entrega)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_Autoriza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_Realiza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Personas.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_entrega)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_Autoriza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_Realiza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Personas.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_resguardo }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_resguardo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_resguardo })
        </td>
    </tr>
}

</table>
