@model IEnumerable<pactica123.Models.Fuentes_Financiamiento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre_fuente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_fuente)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_fuente_financiamiento }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_fuente_financiamiento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_fuente_financiamiento })
        </td>
    </tr>
}

</table>
